<!doctype html>
<html ng-app="myModule">
    <head>
        <script src="script/angular.min.js"></script>
        <script src="script/script.js"></script>
        <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    </head>
    <body >

        <div>
            10 + 20 = {{ 10 + 20 }}
        </div>
        
        <div>
            {{ ['Mitin','Rahul','David','John'][0] }}
        </div>
        
        <div>
            {{ {name:'Mitin',age:'22'}.age }}
        </div>
        
        <h2>Controllers - 1</h2>
        <div ng-controller="myController">
        {{ message }}
        </div>
        
        <h2>Controllers - 2</h2>
        <div  ng-controller="myController">
        <div>
        
            First Name : {{employee.firstName}} <br/>
            Last Name: {{employee.lastName}}<br/>
            Gender: {{employee.gender}}<br/>
        </div>
        
	   <h2>Two Way data binding</h2>

        <div>
            <input type="text" ng-model="employee.firstName"/><br/><br/>
		    {{employee.firstName}}
        </div>

        <h2>ng-repeat Directive</h2>

        <table border='1' cellspacing='0' cellpadding='5'>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
            </tr>
            <tr ng-repeat='emp in employees'>
                <td>{{emp.fname}}</td>
                <td>{{emp.lname}}</td>
                <td>{{emp.gender}}</td>
            </tr>
        </table>

        <h2>Nested ng-repeat Directive</h2>

            <ul>
                <li ng-repeat='country in countries' ng-init='parentIndex= $index'>
                    {{country.name}} - index = {{$index}}
                    <ul><li ng-repeat='city in country.cities'>{{city.name}}, parent index = {{ parentIndex}}, index = {{$index}}</li></ul>
                </li>
            </ul>

        <h2>HANDLING EVENTS IN ANGULAR JS</h2>

            <table border='1' cellspacing='0' cellpadding='5'>
            <tr>
                <th>Technology</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Like/Dislike</th>
            </tr>
            <tr ng-repeat='tech in technologies'>
                <td>{{tech.name}}</td>
                <td>{{tech.likes}}</td>
                <td>{{tech.dislikes}}</td>
                <td><input type="button" value="Like" ng-click="incLikes(tech)">
                    <input type="button" value="Dislike" ng-click="incDislikes(tech)"></td>
            </tr>
        </table>


        <h2>FILTERS - format/sort/filter</h2>

        Rows to display: <input type="number" min="0" max="5" ng-model="rowLimit"><br/><br/>
        Order by : <select ng-model='sortColumn'>
            <option value="fname">First Name</option>
            <option value="lname">Last Name</option>
            <option value="salary">Salary</option>
            </select><br/><br/>
        Search First Name: <input type="text" ng-model="empsearch.fname" placeholder="Search Employee.."/>
        Search Last Name: <input type="text" ng-model="empsearch.lname" placeholder="Search Employee.."/>
            <input type="checkbox" ng-model="exactMatch"> Exact Match
            <br/><br/>
        <!--search only in fname column (empsearch.fname)
            search in all columns just write (empsearch)--->
        <table border='1' cellspacing='0' cellpadding='5'>
            <tr>
                <th ng-click="changeOrder('fname')">First Name <i class="fa fa-caret-{{fname_arrowDir}}"></i></th>
                <th ng-click="changeOrder('lname')">Last Name</th>
                <th ng-click="changeOrder('gender')">Gender</th>
                <th ng-click="changeOrder('dob')" >D.O.B <i class="fa fa-caret-{{dob_arrowDir}}"></i></th>
                <th ng-click="changeOrder('salary')">Salary (number) <i class="fa fa-caret-{{salary_arrowDir}}"></i></th>
                <th>Salary (currency)</th>
            </tr>
            <tr ng-repeat="femp in filter_emps | limitTo: rowLimit:0 | orderBy: sortColumn:decOrder | filter: empsearch:exactMatch">
                <!--false means acceding order/true means decending order-->
                <!--also can use '+name' for accending order/ '-name' for decending order-->
                <td>{{femp.fname | uppercase}}</td>
                <td>{{femp.lname | uppercase}}</td>
                <td>{{femp.gender | lowercase}}</td>
                <td>{{femp.dob |date:DD/MM/YYYY}}</td>
                <td>{{femp.salary | number:2}}</td>
                <td>{{femp.salary | currency:$:1}}</td>
            </tr>
        </table>


            <h2>Custom Filters</h2>
            <table border='1' cellspacing='0' cellpadding='5'>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
            <tr ng-repeat="empc in empCf">
                <td>{{empc.name}}</td>
                <td>{{empc.gender | genderFilter}}</td>
                <td>{{empc.salary}}</td>
            </tr>
        </table>

            <h2>NG HIDE and NG SHOW</h2>
            <input type="checkbox" ng-model="hideSalary"> Hide Salary
            <br/><br/>
            <table border='1' cellspacing='0' cellpadding='5'>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th ng-hide="hideSalary">Salary</th>
            </tr>
            <tr ng-repeat="empc in empCf">
                <td>{{empc.name}}</td>
                <td>{{empc.gender | genderFilter}}</td>
                <td ng-show="!hideSalary">{{empc.salary}}</td>
            </tr>
        </table>

            <h2>NG INCLUDE DIRECTIVE</h2>
            <!--<div ng-include="'empTable.html'"></div>-->
            <div ng-include="empPage"></div>

        </div>
        <br/><br/>
    </body>
</html>
